<!DOCTYPE html>
<html>
<head>
  <title><%= t 'app.title' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div id="header" class="navbar-inner">
      <h1><%= t 'app.title' %></h1><!--<%= image_tag('Logo.jpg', :class => "img-rounded") %>-->
    </div> <!-- header -->
    <div class="container"> <!--class="row">
      <div id="menu" > <!--class="span2"-->
        <ul class="nav">
         <li><%= link_to strongify(icon('home')+'Inicio'), root_url %></li>
          <li><%= link_to t('g.links.marcas'), brands_path %></li>
          <li><%= link_to t('g.links.clientes'), customers_path %></li>
          <li><%= link_to t('g.links.vehiculos'), vehicles_url %></li>
          <li><%= link_to t('g.links.tipos'), vehicle_types_url %></li>
        </ul>
      </div> <!-- menu -->
      <div id="content"> <!--class="span10"-->
        <%= yield %>
      </div> <!-- content -->
    </div>
    <div id="footer">
      &copy; <%= Time.now.year %> - <%= t 'app.title' %>
    </div> <!-- footer -->
  </div>
</body>
</html>
